<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="../styles/mybook.css"/>
<script src="../scripts/login.js"></script>
</head>

<body> <form name = "myform">
<div class ="header ">
<div class ="floatLeft">
	My Book
</div>

<div class ="floatRight">
	<input  class ="inputStyle" type="text" placeholder="User Name" name="username">
	<input  class ="inputStyle" type="password" placeholder="Password"  name="pword">
	<button class ="buttonStyle" type="button" onclick= "login()" >Sign In</button> 
</div>
</div>
</form>
<div class="section">

</div>
<div class="footer">
Copyright © Object-Frontier.com
</div>
</body>
</html>